/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd-party */
@import './3rd-party/font-awesome.min.css';

/* components */
@import './components/button.css';

/* CUSTOM HOME PAGE STYLE BELOW THIS COMMENT LINE */

.bg-light {
    background-color: var(--light-color);
}
.bg-grey {
    background-color: var(--grey-color);
}
.bg-brown {
    background-color: var(--brown-color);
}
.bg-telephone {
    background-color: var(--telephone-color);
}
.our {
    color: #ABABAB;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}
.our-left {
    color: #ABABAB;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
}

/* Header start here */
header.container {
    padding-top: 0;
    padding-bottom: 30px;

}
/* Header end here */
 
/* Img section start here */
.IMG {
    min-height: 100vh;
    background-color: #2A4480;
}
/* Img section end here */
 
/* Logo line start here */
/* Logo line end here */
 
/* Our services start here */
.paragraph {
    margin-top: 30px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
.blue-text {
    color: #086AD8;
}
.service-card {
    display: inline-block;
    background-color: white;
    width: 450px;
    height: 350px;
    margin-top: 80px;
    text-align: center;
    border-radius: 6px;
    box-shadow: 3px 5px 8px lightgray;
}
.service-card-img {
  margin-top: 50px;
  margin-bottom: 25px;
}
.service-card-h4 {
    font-size: 24px;
    padding-bottom: 15px;
    color: #333333;
    text-align: center;
} 
.service-card-text {
    font-size: 15px;
    text-align: center;
    color: #696969;
    line-height: 25px;
    padding-left: 30px;
    padding-right: 30px;
}
/* Our services end here */
 
/* Our company start here */
/* Our company end here */
 
/* Hire us why not start here */
/* Hire us why not end here */
 
/* Number line start here */
/* Number line end here */
 
/* Video section start here */
/* Video section end here */
 
/* Cases studies start here */
/* Cases studies end here */
 
/* Testimonials start here */
/* Testimonials end here */
 
/* Blogs & news start here */
/* Blogs & news end here */
 
/* Reach out now strat here */
/* Reach out now end here */
 
/* Footer start here */
/* Footer end here */
