.number-section {
   border: 1px solid #ededed;
   position: relative;
   bottom: 100px;
   border-right: none;
}
.number-card {
    display: inline-block;
    width: 100%;
    height: 350px;
    text-align: center;
    border-right: 1px solid #ededed;
}
.container bg-light {
   position: absolute;
}
.dark-text {
    margin-top: 70px;
    font-size: 28px;
    color: #333333;
    font-weight: 545;
    margin-bottom: 20px;
    margin-right: 15px;
    text-align: center;
}
.number {
    color: #086AD8;
    font-size: 64px;
    margin-right: 15px;
}
.light-text {
    margin-top: 10px;
    color: #d2a98e;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}